<div class="app-container">

  <!-- LOGIN -->
  <div class="login-card" *ngIf="!joined && !roomId">

    <div class="logo">💬</div>

    <h1>Chat App</h1>

    <p class="subtitle">Enter your name</p>

    <input type="text" [(ngModel)]="name" placeholder="Your name" (keyup.enter)="joinChat()" />

    <button (click)="joinChat()">
      Join
    </button>

  </div>

  <div class="login-card" *ngIf="joined && !roomCreated">

    <h3>Start Private Chat</h3>

    <input type="text" [(ngModel)]="roomId" placeholder="Enter 4-digit number" maxlength="4" inputmode="numeric"
      (input)="onRoomIdInput()" />

    <button (click)="joinRoom()">
      Join Room
    </button>
    <div style="padding: 10px;"></div>
    <button (click)="createRoom()">
      Create Room
    </button>

  </div>

  <!-- CHAT -->
  <div class="chat-container" *ngIf="joined && roomCreated">

    <!-- HEADER -->
    <div class="chat-header">

      <div class="profile">
        <div class="avatar">
          {{ name.charAt(0).toUpperCase() }}
        </div>

        <div>
          <div class="username">{{ roomId }}</div>
          <!-- <div class="status">{{status}}</div> -->
        </div>
      </div>

    </div>

    <!-- SELECT USER -->
    <!-- <div class="login-card" *ngIf="!roomId">

      <h3 >Start Private Chat</h3>

      <input
        type="text"
        [(ngModel)]="chatUser"
        placeholder="Enter user name"
      />

      <button (click)="createRoom()">
        Start Chat
      </button>

    </div> -->

    <!-- CHAT AREA -->
    <div class="chat-container" *ngIf="roomId">

      <!-- MESSAGES -->
      <div class="messages" #scrollMe>

        <div *ngFor="let msg of messages" class="message-wrapper" [class.me-wrapper]="msg.name === name">

          <div class="message" [class.me]="msg.name === name" [class.other]="msg.name !== name">

            <div class="sender" *ngIf="msg.name !== name">
              {{ msg.name }}
            </div>

            <div class="text">
              {{ msg.message }}
            </div>
            <div class="meta">

              <span class="time">
                {{ msg.timestamp || msg.createdAt | date:'shortTime' }}
              </span>

              <span class="tick" *ngIf="msg.name === name" [class.read]="msg.read">

                ✓✓

              </span>
            </div>

          </div>

        </div>

      </div>

    </div>


    <!-- INPUT -->
    <div class="input-area">

      <input type="text" [(ngModel)]="message" placeholder="Type message..." (keyup.enter)="sendMessage()" />

      <button (click)="sendMessage()">
        ➤
      </button>

    </div>
    <button (click)="logout()">Logout</button>
  </div>

</div>